/* app css stylesheet */
html, body{
  /*background-color: #fffacd4d !important;*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container{
  flex: 1;
  margin-bottom: 1%;
}

.wrapper{
  text-align: center;
  margin-top: 4%;
}

.wrapper > h1{
  color: orange;
  font-weight: bolder;
}

.navMenu{
  display: inline-flex;
}

.navMenu li{
  font-size: 20px;
  margin-right: 5%;
}

.navMenu li > a{
  width: max-content;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.starRatingWidget{
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.requiredRating{
  margin: 0 auto;
  color: red;
  text-align: center;
  /*right: 490px;
  top: 350px;*/
}

.newFeedbackWidget,
.feedbackFormWidget{
  margin-top: 2%;
}

.feedbackFormWidget {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 10px;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.feedbackFormWidget form label{
  margin-left: 4px;
  width: 100%;
}

.feedbackFormWidget input,
.feedbackFormWidget textarea{
  width: 100%;
  padding: 8px;
  margin-bottom: 11px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.feedbackFormWidget textarea{
  height: 140px;
}

.feedbackFormWidget.commentFormWidget{
  background-color: whitesmoke;
  border: 1px solid darkgray;
  margin: 0;
}

.feedbackFormWidget.commentFormWidget label{
  font-size: 12px;
}

.feedbackFormWidget.commentFormWidget input,
.feedbackFormWidget.commentFormWidget textarea{
  padding: 4px;
  margin-bottom: 6px;
  font-size: 12px;
}

.requiredField{
  color: red;
}

.sortingReviews{
  color: #556080;
  margin-top: 10px;
  padding-left: 40px;
}

.sortingReviews span{
  font-size: 16px;
  font-style: italic;
  margin-right: 5px;
}

.sortingReviews select{
  padding: 5px;
  font-size: 18px;
}

.reviewWidget{
  background-color: whitesmoke;
  border: 1px solid darkgray;
  border-radius: 5px;
  display: flex;
  margin-bottom: 2%;
}

.votingWidget{
  float: left;
  padding: 5px 5px 0 10px;
  position: relative;
  height: fit-content;
  top: 40px;
}

.votingButton span{
  font-size: 20px;
  left: 5px;
  position: relative;
}

.votingButton span[id^='downvote']{
  top: 6px;
  left: 3px;
}

.badge.reviewBadge{
  background-color: #556080 !important;
  font-size: 16px !important;
  font-weight: 700;
  line-height: 1.5;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}

.reviewThumbWidget{
  float: right;
  margin: 0 15px;
  padding: 0 20px;
  width: 100%;
}

.reviewThumbWidget a:hover{
  text-decoration: none;
}

.reviewHeader{
  border-bottom: 2px solid;
}

.reviewRating{
  margin-top: 10px;
}

.userAvatar{
  margin-top: 12px;
  width: fit-content;
}

.reviewDate{
  text-align: end;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.reviewBody{
  background-color: #f8f8f8;
  border: 1px solid darkgray;
  color: #454545;
  height: 170px;
  font-size: 18px;
  font-style: italic;
  padding-left: 10px;
  position: relative;
  overflow: hidden;
}

.reviewBodyDetails{
  border: 1px solid darkgray;
  background-color: #f8f8f8;
  color: #454545;
  font-size: 18px;
  font-style: italic;
  min-height: 170px;
  padding-left: 10px;
  overflow: unset;
}

.reviewBody:before{
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 100px, white);
}

.reviewUserInfo{
  margin-top: 12px;
}

.userAvatarSmall{
  float: left;
  margin: 6px;
  height: 100%;
}

.commentText > p > span{
  font-weight: bold;
  font-style: italic;
  color: black;
}

.commentText > p{
  color: #999999;
  margin-bottom: 4px;
}

.commentWidget{
  border-top: 2px solid steelblue;
  margin-top: 5px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 44px auto;
  grid-template-rows: auto;
}

.commentRating .commentVote{
  font-size: 18px;
  padding-right: 3px;
}

.commentRating span[id^='upvote'],
.commentRating span[id^='downvote']{
  cursor: pointer;
}

.addCommentButton {
  margin-top: 5px;
}

.cancelButton{
  border-color: darkgray !important;
  background-color: aliceblue;
}

.glyphicon.large{
  font-size: 55px;
  padding: 8px;
  color: burlywood;
}

.glyphicon-star.large,
.glyphicon-star.small
{
  color: burlywood;
}

.glyphicon-star.small.gray{
  color: gray;
}

.emojis{
  margin: 0 auto;
  font-size: 45px;
  min-height: 64px;
  text-align: center;
}

.upvoted span[id^='upvote']{
  color: green;
}

.downvoted span[id^='downvote']{
  color: red;
}

footer {
  background: #42A5F5;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 1%;
}

.col-lg-1{
  padding: 0 !important;
}
