<div class="feedbackFormWidget">
    <form name="feedbackForm" ng-submit="submitForm(review)">
        <div ng-repeat="field in fields">
            <label for="{{field.name}}">{{field.label}} <span ng-show="field.required"
                                                              class="requiredField">*</span></label>
            <input ng-show="field.type !== 'textarea'" type="{{field.type}}" name="{{field.name}}" id="{{field.name}}"
                   ng-model="review[field.name]" placeholder="{{field.placeholder}}" ng-required="{{field.required}}"/>
            <textarea ng-show="field.type === 'textarea'" name="field.name" id="{{field.name}}"
                      ng-model="review[field.name]" placeholder="{{field.placeholder}}"
                      ng-required="{{field.required}}"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
