<div style="margin-top: 15px">
    <div ng-if="ready">
        <div class="row reviewDetailsWidget">
            <div class="row">
                <review-rating class="col-sm-2" rating="review.rating"></review-rating>
                <h3 class="reviewTitle col-sm-4">{{review.title}}</h3>
                <p class="reviewDate col-sm-2">{{review.date | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
            </div>
            <div class="reviewBody row">
                <div class="col-sm-8">{{review.content}}</div>
            </div>
            <div class="row reviewUserInfo">
                <h4 class="col-sm-2">{{review.user.name}}</h4>
                <h5 class="col-sm-2">{{review.user.email}}</h5>
            </div>
        </div>
    </div>
    <h3>Comments</h3>
    <ul ng-if="ready">
        <li ng-repeat="comment in comments">
            <p>{{comment.content}}</p>
            <p>{{comment.user.name}}</p>
            <p>{{comment.date | date: 'dd/MM/yyyy'}}</p>
        </li>
    </ul>

    <button ng-show="!addComment" ng-click="toggleForm()">Add comment</button>
    <user-communication-form ng-show="addComment" communication="comment" fields="fields">
        <button class="btn btn-secondary" ng-show="addComment" ng-click="toggleForm()">Cancel</button>
    </user-communication-form>
</div>
