<a href="/reviews/{{review.id}}">
    <div>
        <div class="row reviewHeader vertical-align">
            <review-rating class="col-lg-1 col-md-2 col-sm-3 col-xs-3" rating="review.rating"></review-rating>
            <h3 class="reviewTitle col-lg-9 col-md-8 col-sm-7 col-xs-7">{{review.title}}</h3>
            <h5 class="reviewDate col-lg-2 col-md-2 col-sm-2 col-xs-2">{{review.date | date: 'dd/MM/yyyy HH:mm:ss'}}</h5>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-2 col-sm-3 userAvatar">
                <img ng-src="../images/user.png">
                <h4>{{review.user.name}}</h4>
            </div>
            <div class="col-lg-11 col-md-10 col-sm-8 reviewUserInfo">
                <p class="reviewBody">{{review.content}}</p>
            </div>
        </div>
    </div>
</a>
